<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="{{{ asset('css/style.css') }}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrapper">
        <header>
            <div>
                <nav>
                    <a href ="{{urlFor('home')}}">Home</a>
                    <a href ="{{urlFor('dashboard')}}">Dashboard</a>
                    {{#if loggedIn}}
                    <a href ="{{urlFor('logout')}}">Logout</a>
                    {{else}}
                    {{/if}}
                </nav>
            </div>
            <div>
                <h1 class="mainTitle">The Tech Blog</h1>
            </div>
        </header>
        <main>
            {{{body}}}

        </main>
        <footer>
            <div>
                <p>&copy; {{currentYear}} The Tech Blog</p>
            </div>
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="{{{ asset('js/main.js') }}}"></script>
    
</body>

</html>